body {
    font-family: Helvetica,Arial,sans-serif;
    text-align: center;
    background-image:linear-gradient(60deg,#ffe8d9,#ffcdcc);
    align-items: center;
    
  


}
.initial{
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 2.5vh;
}

.image {
    border: 2px solid black;
    border-radius: 5px;
    margin: 2vh;

}

.image img {
    width : 220px;
    height: 220px;
}

.item {
    margin:2vh 7vw;

    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
    font-size: 2vh;
    align-items: center;
    justify-content: space-around;
}

        
h2 {

    color: #0091ae;
    font-size: 4vh;

}



